MetaTrader5~=5.0.4803
pandas~=2.2.3
ta~=0.11.0
python-telegram-bot~=21.10
scipy~=1.15.1
numpy~=2.1.3
matplotlib~=3.10.0
requests~=2.32.3
vectorbtpro~=2024.12.15
colorama~=0.4.6
yfinance~=0.2.53
vectorbt~=0.27.2
seaborn~=0.13.2
backtesting~=0.6.2